@import url('https://fonts.googleapis.com/css2?family=Lato');


:root {
    
    --navbar-color:  #2D303A;
    --navbar-color-border:  #323746;
    --logo-asterisks: #F06C64;
    --basic-red:#F06C64;
    --white: #fff;
    --base-wite:#F2F2F2;
    --section-headers:#666D89;
    --text-color:#767E9E;
    --base-blue:#2D303A;
    --btn:#FBC65F;
    --btn-text:#886A30;
    --input: #D6564F;
    --input-text: #F48C8F;
    --text-lt:#F0D8D9;

  }
  
  /* ====================
      Reset
     ====================
  */
  
  *,
  *::after,
  *::before {
    padding: 0;
    margin: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  
  body,
  input,
  textarea {
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    color: var(--black1);
    background-color: var(--white);
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
  }
  
  a {
    text-decoration: none;
  }
  
  li,
  ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
  }

  button{
    padding: 11px 0 12px 0;
    min-height: 38px;
    min-width: 136px;
    background-color:var(--btn);
    font-size: 14px;
    color: var(--btn-text);
    border-radius: 4px;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
   }

.socials {
    display: flex;
}

.main-socials-item{
    color: var(--section-headers);
    font-size: 30px;
    border: 1px solid var(--section-headers);
    border-radius: 50%;
    min-width: 30px;
    margin-right: 5px;
    padding: 5px;
}

.social-item{
    margin: 5px;
}

.main-socials-item:hover{
  background-color: #2098d1;
}
